# Task No. 1:
Create a function which will take a list as an argument and return the product of all the number after creating a flat list. <br>
Use the below-given list as an argument for your function.

lst1 = [1,2,3,5,[44,55,66,True],False,(34,56,78,89,34),{1,2,3,3,2,1},{1:34,'key2':[55,67,78,89],4:(45,22,61,34)},[56,'data science'],'Machine Learning']

**Note: You must extract numeric keys and values of the dictionary also.**

## Answer

In [1]:
def flat_func(given_collection):
    flat_list=[]
    for each_element in given_collection:
        if type(each_element)==int or type(each_element)==float:
            flat_list.append(each_element)
        #elif type(each_element)==bool:
         #   flat_list.append(int(each_element))
        elif type(each_element)==list or type(each_element)==set or type(each_element)==tuple:
            flat_list.extend(flat_func(each_element))
        elif type(each_element)==dict:
            for each_nested_element in each_element.keys():
                if type(each_nested_element)==int or type(each_nested_element)==float:
                    flat_list.append(each_nested_element)
            for each_nested_element in each_element.values():
                if type(each_nested_element)==int or type(each_nested_element)==float:
                    flat_list.append(each_nested_element)
                elif type(each_nested_element)==list or type(each_nested_element)==tuple or type(each_nested_element)==set:
                    flat_list.extend(flat_func(each_nested_element))
            
    return flat_list

In [2]:
given_list = [1,2,3,5,[44,55,66,True],False,(34,56,78,89,34),{1,2,3,3,2,1},{1:34,'key2':[55,67,78,89],4:(45,22,61,34)},[56,'data science'],'Machine Learning']

flat_list=flat_func(given_list)

result = 1
for each_element in flat_list:
    result = result*each_element

print('Flat List: ', flat_list)
print('Product of all the numbers: ',result)

Flat List:  [1, 2, 3, 5, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 1, 4, 34, 55, 67, 78, 89, 45, 22, 61, 34, 56]
Product of all the numbers:  5168389798733856848542301552640000

# Task No. 2:
Write a Python program for encrypting a message sent to you by your friend. The logic of encryption should be such that, for a the output should be z. For b, the output should by y. For c, the output should be x repectively. Also, the whitespace should be replaced with a dollar sign. Keep the punctuation marks unchanged.

Input Sentence: I want to become a Data Scientist.

Encrypt the above input sentence using the program you just created.

**Note: Convert the given input sentence into lowercase before encrypting. The final output should be lowercase.**

In [ ]:
sentence = "i want to become a data scientist"

# create a translation table using maketrans
trans_table = str.maketrans("iew", "zyg")

# use translate method to replace characters
new_sentence = sentence.translate(trans_table)

print(new_sentence)
# Output: "z wangt to bacomz a dagz scziantzst"

In [64]:
string = 'I want to become a Data Scientist'
string = string.lower()

trans_letters = str.maketrans('abcdefghijklmnopqrstuvwxyz','zyxwvutsrqponmlkjihgfedcba')

encrypted_string = string.translate(trans_letters)
encrypted_string

'r dzmg gl yvxlnv z wzgz hxrvmgrhg'

In [51]:
alphabets = ['a','b','c','d','e','f','g','h','i']
encrypts = sorted(alphabets,reverse=True)
sentence = 'I want to become a Data Scientist'.lower()

print(alphabets)
print(encrypts)
print(sentence)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
i want to become a data scientist

In [13]:
len(sentence)

33

In [15]:
letters_in_text = []
for i in range(len(sentence)):
    store_letter = sentence[i]
    if store_letter in alphabets:
        letters_in_text.append(store_letter)

letters_in_text

['i', 'a', 'b', 'e', 'c', 'e', 'a', 'd', 'a', 'a', 'c', 'i', 'e', 'i']

In [16]:
word = 'pwskills'

[each_letter for each_letter in word]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [21]:
letters_in_text.index('a')

1

In [23]:
letters_in_text = []
for i in range(len(sentence)):
    store_letter = sentence[i]
    if store_letter in alphabets:
        letters_in_text.append(store_letter)

letters_in_text

['i', 'a', 'b', 'e', 'c', 'e', 'a', 'd', 'a', 'a', 'c', 'i', 'e', 'i']

In [52]:
# multiple characters to be replace
string = "i want to become a data scientist"
# let's say we need to replace characters - 't', 'l', 'r'
# creating a list for the characters to be replaced
char_to_be_replaced= ['t', "l", "r"]
replace_with = ['O','M','G']

print("Original string: " + string)
# let's say we need to replace them with a special character '#'
# Using the for loop for each character of char_remov

for char in char_to_be_replaced:
    # replace() "returns" an altered string
    for i in range(len(replace_with)):
        string = string.replace(char, replace_with[i])

print("Altered string: " + string)

Original string: i want to become a data scientist
Altered string: i wanO Oo become a daOa scienOisO

In [56]:
string = 'I want to become a Data Scientist'
string = string.lower()

char_to_be_replaced= ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
replace_with = sorted(char_to_be_replaced,reverse=True)
#replace_with = ['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

print("Original string: " + string)
i=0
for char in char_to_be_replaced:
    # replace() "returns" an altered string
    #for i in range(len(replace_with)):
        string = string.replace(char, replace_with[i])
        i+=1

print("Altered string: " + string)

Original string: i want to become a data scientist
Altered string: i damg gl beclme a daga hciemgihg

In [ ]:
string = 'I want to become a Data Scientist'
string = string.lower()

char_to_be_replaced= ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
replace_with = ['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

print("Original string: " + string)

for char in char_to_be_replaced:
    # replace() "returns" an altered string
    for i in range(len(replace_with)):
        string = string.replace(char, replace_with[i])

print("Altered string: " + string)